@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Juicebox;

@namespace Facepunch.Juicebox.UI
@attribute [StyleSheet( "/ui/styles/Answers.scss" )]
@inherits Panel

<root>
    
    @foreach (var player in GameState.Players)
    {
        if (string.IsNullOrEmpty(player.Answer))
        {
            continue;
        }

        <div class="answer-box pink">
            <div class="answer-header">
                <div class="number-container">
                    <span class="styled">13</span>
                </div>
            </div>
            <div class="answer-body">
                <h1 class="answer-text">@player.Answer</h1>
            </div>
            <div class="answer-footer">
                <div class="player-bar">
                    <span class="styled">@player.Name</span>
                </div>
            </div>
        </div>
    }

    @* <div class="container">
        <div class="columns">
            <div class="column is-6">
                <div class="answer-box">
                    Test
                </div>
            </div>
            <div class="column is-6">test</div>
        </div>
    </div> *@
</root>
