@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Juicebox;

@namespace Facepunch.Juicebox.UI
@attribute [StyleSheet( "/ui/styles/BodySection.scss" )]
@inherits Panel

<root>
    <div class="question-container">
        <span class="question-text styled">The worst Halloween costume for a young child</span>
    </div>
</root>