@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Juicebox;

@namespace Facepunch.Juicebox.UI
@inherits Panel

<root>
    <div class="container is-spectate">
        @if (!string.IsNullOrEmpty(GameSession.JoinCode))
        {
            <span class="subtitle">Join</span>
            <div class="spectate-code">
                <span>@GameSession.JoinCode</span>
            </div>
            <span class="subtitle">juicebox.facepunch.com</span>
        }
    </div>
    <div class="container is-branding">
        <div class="branding-container">
            <img class="branding sbox" src="textures/ui/branding-sbox.png" />
            <span class="subtitle">x</span>
            <img class="branding juicebox" src="textures/ui/branding-juicebox.png" />
        </div>
    </div>
    <div class="container is-round-info">
        @if (GameSession.CurrentScreen >= GameScreen.QuestionPrompt && GameSession.CurrentScreen < GameScreen.GameOver)
        {
            <div class="round-info">
                <div class="round-number">
                    <span>@GameSession.RoundNumber</span>
                </div>
                <div class="round-time">
                    <span>@GameSession.RoundTimer</span>
                </div>
            </div>
        }
    </div>
</root>

@code {
    protected override int BuildHash()
    {
        return HashCode.Combine(GameSession.CurrentScreen, GameSession.JoinCode, GameSession.RoundNumber, GameSession.RoundTimer);
    }
}
