@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Juicebox;

@namespace Facepunch.Juicebox.UI
@attribute [StyleSheet( "/ui/styles/header.scss" )]
@inherits Panel

<root>
    <div class="container is-spectate">
        <span class="subtitle">Spectate</span>
        <div class="spectate-code">
            <span>6969</span>
        </div>
        <span class="subtitle">tv.asset.party</span>
    </div>
    <div class="container is-branding">Sandbox</div>
    <div class="container is-round-info">Round Info</div>
</root>