@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Juicebox;

@namespace Facepunch.Juicebox.UI
@attribute [StyleSheet( "/ui/styles/hud.scss" )]
@inherits RootPanel

<root>
    <div class="header">
        <HeaderSection></HeaderSection>
    </div>

    <div class="BodyContainer">
        <BodySection></BodySection>
    </div>
</root>
