@using Sandbox.UI
@using Sandbox.Menu

@namespace Facepunch.Juicebox.UI
@attribute [StyleSheet( "/ui/styles/hud.scss" )]
@inherits RootPanel
@implements IGameMenuPanel

<root>
    <div class="header">
        <HeaderSection></HeaderSection>
    </div>

    <div class="BodyContainer">
        <BodySection></BodySection>
    </div>
</root>

@code
{
    public override void Tick()
    {
        base.Tick();

        GameSession.Update();
    }

    public override void OnDeleted()
    {
        base.OnDeleted();

        GameSession.Shutdown();
    }
}
