@using System;
@using Sandbox.UI;

@namespace Facepunch.Juicebox.UI
@attribute [StyleSheet("/ui/styles/TextScreen.scss")]
@inherits Panel

@code {
    public string Header { get; set; } = null;
}

<root>
    <h1 class="styled">@Header</h1>
</root>

@code {
    protected override int BuildHash()
    {
        return HashCode.Combine(Header);
    }
}
