@import "./variables/_colours.scss";
@import "./variables/_misc.scss";

BodySection {
  //background-color: $darkestPurple;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}
