@import "./variables/_typography.scss";

Hud {
  pointer-events: none;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    z-index: 1;
  }

  .BodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
