QuestionSetUp {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: stretch;
    justify-content: center;
    height: 100%;

    .question-list {
        display: flex;
        flex-direction: column;
        background-color: #05060790;
        padding: 20px;
        border-radius: 10px;
    }

    .question-list-item {
        display: flex;
        flex-direction: column;
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #00000000;

        &.selected {
            background-color: #3070E320;
            border: 1px solid #3070E3;
        }

        .title {
            font-size: 40px;
        }

        .description {
            font-size: 25px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    button {
        margin-top: 30px;
        font-size: 30px;
        background-color: #4680e6;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        padding: 10px;
        cursor: pointer;
    }
}
